{% extends "template.html" %}
{% block title %}Looper results{% endblock %}
{% block head %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  function render_result() {
          $.getJSON($SCRIPT_ROOT + '/_background_result', {
        act: $('select[name="actions"]').val(),
      }, function(data) {
        $("div#result").html(data.result);
      });
      return false;
  }
  $(function() {
    // The function is triggered on page load
    render_result()
  });
</script>
{% endblock %}
{% block content %}
<div id="result" class="divider-vertical"><b>Parsing the log file</b> <i class="fa fa-spinner fa-pulse fa-fw"></i></div>
<div class="divider-vertical"></div>
{% include 'back_referrer.html' %}
{% endblock %}