{% extends "template.html" %}
{% block head %}
	{{ super() }}
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type=text/javascript>
	  $(function() {
		$('a#exec').bind('click', function() {
		  $.getJSON($SCRIPT_ROOT + '/_background_exec', {
			cmd: $('select[name="command"]').val(),
		  }, function(data) {
			$("#exec_txt").text(data.exec_txt);
		  });
		});
	  });
	</script>
	<script type="text/javascript">
		$(function() {
			$('#gobtn').bind('click', function() {
				$('#select_project').submit();
				$("#gobtn").attr("disabled", true);
				$('#gobtn').html('LOADING PROJECT DATA <i class="fa fa-spinner fa-pulse fa-fw"></i>');
			});
		});
	</script>
{% endblock %}
{% block title %}Index{% endblock %}
{% block content %}
	{% if missing_projects is not none %}
		<div class="alert alert-warning" role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<b>{{ missing_projects|length }}</b> files are missing and are not listed below:
			<ul style="padding-left: 30px">
				{% for mp in missing_projects %}
					<li><code>{{ mp }}</code></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<div class="container px-lg-3 mt-3">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header"><b>Select a project</b></div>
					<div class="card-body">
						<form id="select_project" class="form" method="POST" action="{{ url_for('process') }}">
							<div class="form-group row">
								<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
								<div class="col">
									{% if reset_btn is not none %}
										<div class="alert alert-secondary" role="alert">
											<button type="button" class="close" data-dismiss="alert">&times;</button>
											Reset currently activated project to select other ones
										</div>
									{% endif %}
									<table id="projects-table" class="table table-striped table-bordered" style="font-size:13px; width:100%;">
									<thead>
										<tr>
											<th>Project name</th>
											<th>Config path</th>
										</tr>
									</thead>
										<tbody>
											{% if selected is none %}
												{% set cls = "btn btn-secondary btn-sm" %}
												{% set disabled = "" %}
											{% else %}
												{% set cls = "btn btn-secondary btn-sm disabled" %}
												{% set disabled = "disabled" %}
											{% endif %}
											{% for p in cc.projects.keys() %}
												{% if loop.index == selected_id | int  %}
													{% set cls = "btn btn-secondary btn-sm" %}
													{% set disabled = "" %}
												{% endif %}
												<tr>
													<td>
														<button type="submit" {{ disabled }} class="{{ cls }}" name="select_project" value="{{ p }};{{ loop.index }}">
															{{ cc.projects[p].name }}
														</button>
													</td>
													<td>
														<code>{{ p }}</code>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
					<div class="card-footer text-muted">
					{% if reset_btn is not none %}
						<a href="{{ url_for('index', reset=True) }}" class="btn btn-outline-danger" role="button" aria-disabled="false">
							RESET PROJECT <i class="fa fa-undo"></i>
						</a>
					{% else %}
						<a href="{{ url_for('index', reset=True) }}" class="btn btn-outline-danger disabled" role="button" aria-disabled="true">
							RESET PROJECT <i class="fa fa-undo"></i>
						</a>
					{% endif %}
					<a href="/preferences" role="button" class="btn btn-outline-dark ml-2">PREFERENCES <i class="fa fa-cog"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
