<!-- This page serves the automatic html form elements display -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<h3>Select options</h3>
<form method="POST" action="{{ url_for('action') }}">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    {% for type, data in grouped_form_data.items() %}
        {% set opts = data[0] %}
        {% set names = data[1] %}
        {% set labels = data[2] %}
        {% for name in names %}
            {% set i = loop.index - 1 %}
            <div class="form-row justify-content-left">
                {% if type == "select" %}
                    <div class="col-auto">
                        <select class="form-control" multiple name="{{ names[i] }}">
                            {% for e in opts[i] %}
                                <option value="{{ e }}">{{ e }}</option>   
                            {% endfor %}
                        </select>
                    </div>
                {% elif type == "range" %}
                    <div class="col-2">
                        <input type="{{ type }}" {{ opts[i] }} name="{{ names[i] }}" oninput="show_value(this.name,this.value)">
                        {% set list = opts[i].split(' ') %}
                        {% set value = list[2].split('=') %}
                        {% set default = value|last %}
                        <button id="{{ names[i] }}" class="disp-value" disabled>{{ default }}</button>
                    </div>
                {% else %}
                    <div class="col-auto align-items-center">
                        <input class="{{ type }}" type="{{ type }}" {{ opts[i] }} name="{{ names[i] }}">
                    </div>
                {% endif %}
                <div class="col-auto align-items-center" id="label">
                    <label class="col-form-label align-items-center"><b><pre>{{ labels[i] }}</pre></b></label>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="divider-vertical">
        <button type="submit" class="btn btn-outline-dark ml-2">GO</button>
    </div>
</form>
<div>
	<p>See <a href="https://looper.readthedocs.io/en/latest/usage.html" target="_new">looper documentation</a> for the options explanation.</p>
</div>
