{% extends "template.html" %}
{% block head %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(function() {
    $('a#show_subproject').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_background_subproject', {
        sp: $('select[name="subprojects"]').val(),
      }, function(data) {
        $("#subproj_txt").text(data.subproj_txt);
        $("#sample_count").text(data.sample_count);
      });
      return false;
    });
  });
</script>
<script type=text/javascript>
  function render_options() {
          $.getJSON($SCRIPT_ROOT + '/_background_options', {
        act: $('select[name="actions"]').val(),
      }, function(data) {
        $("div#options").html(data.options);
      });
      return false;
  }
  $(function() {
    // The function is triggered on page load and with the "select#show_options" change
    render_options()
    $('select#show_options').bind('change', render_options);
  });
</script>
<script type=text/javascript>
  function render_summary_link() {
      $.getJSON($SCRIPT_ROOT + '/_background_summary', {
      }, function(data) {
        $("div#summary").html(data.active_settings);
      });
      return false;
    }
  $(function() {
    // The function is triggered on page load and with the "a#show_summary" button
    render_summary_link()
    $('a#show_summary').bind('click', render_summary_link);
  });
</script>
<script>
  function show_value(name, value) {
    // This function is used in the form in the options.html file
    // get the name of the element to control and the value that should be displayed
   document.getElementById(name).innerHTML=value;
  };
</script>
{% endblock %}
{% block title %}Index{% endblock %}
{% block content %}
    <h2>Selected PEP info:</h2>
    {% for item in p_info %} 
        <p><b>{{ item }}: </b><code id="{{ item }}">{{ p_info[item] }}</code></p>
    {% endfor %}
    {% if p_info["subprojects"] is not none %}
        <select name="subprojects" class="custom-select" style="width:auto;">
            {% for i in p_info["subprojects"] %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value=reset>None</option>
        </select>
        <a href='#' id=show_subproject><button type="submit" class="btn btn-outline-dark ml-2">ACTIVATE</button></a>
        <div class="divider-vertical">
          <p id=subproj_txt class="badge badge-primary">No subproject activated</p>
        </div>
    {% endif %}
    <hr class="col-xs-12">
      <h2>Perform action on the PEP</h2>
      <select id="show_options" name="actions" class="custom-select" style="width:auto;">
        <option value="run">Run</option>
        <option value="check">Check</option>
        <option value="destroy">Destroy</option>
        <option value="summarize">Summarize</option>
      </select>
    <div id="options" class="divider-vertical"></div>
    <hr class="col-xs-12">
    <div class="divider-vertical">
      <a href='#' id=show_summary><button type="button" class="btn btn-outline-dark">Get summary</button></a>
    </div>
    <div id="summary"></div>
{% endblock %}