{% extends "template.html" %}
{% block head %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  // subproject activation
  $(function() {
    $('a#activate_subproject').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_background_subproject', {
        sp: $('select[name="subprojects"]').val(),
      }, function(data) {
        $("#subproj_txt").text(data.subproj_txt);
        $("#sample_count").text(data.sample_count);
      });
      document.getElementById("deactivate_btn").disabled = false;
    });
  });
</script>
<script type=text/javascript>
  // subproject deactivation
  $(function() {
    $('a#deactivate_subproject').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_background_subproject', {
        sp: "None",
      }, function(data) {
        $("#subproj_txt").text(data.subproj_txt);
        $("#sample_count").text(data.sample_count);
      });
      document.getElementById("deactivate_btn").disabled = true;
    });
  });
</script>
<script type=text/javascript>
  function render_options() {
          $.getJSON($SCRIPT_ROOT + '/_background_options', {
        act: $('select[name="actions"]').val(),
      }, function(data) {
        $("div#options").html(data.options);
      });
      return false;
  }
  $(function() {
    // The function is triggered on page load and with the "select#show_options" change
    render_options()
    $('select#show_options').bind('change', render_options);
  });
</script>
<script>
  function show_value(name, value) {
    // This function is used in the form in the options.html file
    // get the name of the element to control and the value that should be displayed
   document.getElementById(name).innerHTML=value;
  };
</script>
<script type="text/javascript">
jQuery( document ).ready(function( $ ) {
   $(window).on('popstate', function() {
      location.reload(true);
   });
});
</script>
{% endblock %}
{% block title %}Process{% endblock %}
{% block content %}
    <h2>Selected PEP info:</h2>
    {% for item in p_info %} 
        <p><b>{{ item }}: </b><code id="{{ item }}">{{ p_info[item] }}</code></p>
    {% endfor %}
    {% if p_info["subprojects"] is not none %}
        <h3>Subprojects:</h3>    
        <select name="subprojects" class="custom-select" style="width:auto;">
            {% for i in p_info["subprojects"] %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <a href='#' id=activate_subproject><button id="activate_btn" type="submit" class="btn btn-outline-dark ml-2">ACTIVATE</button></a>
        {% if selected_subproject is none %}
          <a href='#' id=deactivate_subproject><button id="deactivate_btn" disabled type="submit" class="btn btn-outline-dark ml-2">DEACTIVATE</button></a>
        {% else %}
          <a href='#' id=deactivate_subproject><button id="deactivate_btn" type="submit" class="btn btn-outline-dark ml-2">DEACTIVATE</button></a>
        {% endif %}
        <div class="divider-vertical">
          <p id=subproj_txt class="badge badge-primary">Activated subproject: {{ selected_subproject }}</p>
        </div>
    {% endif %}
    <hr class="col-xs-12">
      <h2>Perform action on the PEP</h2>
      <select id="show_options" name="actions" class="custom-select" style="width:auto;">
        {% for i in actions %}
          <option value="{{ i }}">{{ i|title }}</option>
        {% endfor %}
      </select>
    <div id="options" class="divider-vertical"></div>
{% endblock %}