<html>
  <head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  	<title>
  		Caravel - Index
  	</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div>
      <img src="/static/caravel.svg">
    </div>
    <div>
      <h2>Caravel server encountered exception(s)</h2>
    </div>
    <div>
        {% for ei in e %}
        <code><p>{{ ei }}</p></code>
        {% endfor %}
    </div>
    <div>
      <p>Go back to the <a href="{{ url_for('index') }}"><b>Home page</b></a>
    </div>
  </body>
</html>
