<form class="form-inline" method="POST" action="{{ url_for('action') }}">
    <div>
        <h3>Options</h3>
        {% for item in options %}
            <input type="checkbox" name="opt" value="{{ item }}">{{ item }}<br>
        {% endfor %}
    </div>
    <div>
    	<p><b>Provide the token copied from the terminal:</b></p>
    	<input type="text" name="token">
    </div>
    <div>
        <button type="submit" class="btn btn-default">GO</button>
    </div>
</form>
<div>
	<p>See <a href="https://looper.readthedocs.io/en/latest/usage.html" target="_new">looper documentation</a> for the options explanation.</p>
</div>
